seed: 42
trainer: "LifelongTrainer"
checkpoint_dir: "checkpoints"
test_every_nsteps: 10 
accumulate_gradient_every_nsteps: 2
data:
  batch_size: 24
  test_batch_size: 64
  max_size_each_dataset: 10000
  testset_size: 1000
  n_samples_each_dataset: 5
  multitask: False
  multilingual: False 
  multidomain: False 
  custom: "custom"
  data_shuffle: True
  stream_shuffle: False
model:
  base_model: "bert-base-cased"
  lr: 3e-5
  wt_decay: 0.0