seed: 42
test_freq: 10 
checkpoint_dir: "checkpoints"
data:
  batch_size: 16
  test_batch_size: 64
  max_size_each_dataset: 10000
  testset_size: 1000
  n_samples_each_dataset: 5
  multitask: True
  multilingual: False 
  multidomain: False 
  data_shuffle: True
  stream_shuffle: False
model:
  base_model: "bert-base-uncased"
  lr: 3e-5
  wt_decay: 0.0
trainer:
  lifelong: True
  multitask: False
  mixture_of_experts: False