seed: 42
checkpoint_dir: "checkpoints"
output_dir: "outputs"
test_every_nsteps: 10 
gradsim_interval: 20 
data:
  shuffle: True
  batch_size: 25
  test_batch_size: 100
  grad_batch_size: 25
  dataset_size: 10000
  testset_size: 1000
  gradset_size: 100
  n_samples_each_dataset: 5
model:
  base_model: "bert-base-cased"
  lr: 3e-5
  wt_decay: 0.0

defaults:
  - trainer: lifelong_trainer
  - datastream: lifelong